%section
  %header
    %h1 Bruno Coelho
    %strong
      Student, self-taught web developer.
      %br
  %article.span4
    %h2 Work
    %ul
      %li= link_to "Tasboa", "http://tasboa.com", :target => "_blank"
      %li= link_to "Seedrs (internship)", "http://seedrs.com", :target => "_blank"
      %li= link_to "Explicas-me", "http://explicas.me", :target => "_blank"
      %li GoClapp (internship)
      %li Freelancing

  %article.span4
    %h2 Skills
    %ul
      %li Ruby on Rails
      %li Sinatra
      %li PHP
      %li C
      %li Java
      %li MySQL
      %li JavaScript
      %li HTML
      %li CSS

  %article.span3
    %h2 Links
    %ul
      %li= link_to "Lame Blog", "http://blog.bccoelho.com"
      %li= link_to "Twitter", "https://twitter.com/bcsnc", :target => "_blank"
      %li= link_to "LinkedIn", "http://www.linkedin.com/pub/bruno-coelho/41/43a/9a6", :target => "_blank"
      %li= link_to "GitHub", "https://github.com/bcoelh0", :target => "_blank"

.span12
  %hr/

%br
%br
